<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>Vinyl Pop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link href="css/grid.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollToPlugin.min.js"
    ></script>
    <script type="module" src="js/main.js"></script>
  </head>
  <body>
    <div class="grid-con" id="app">
      <div class="col-span-full m-col-span-full">
        <div id="hero-sec">
          <img src="images/logo.png" alt="Vinyl Pop Logo" id="logo" />
          <p>Pop Classics, Fresh Spins.</p>
          <p>Click on the Album to find our more</p>
        </div>

        <div v-if="loadingAlbum">
          <svg
            class="loader"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 200 200"
          >
            <linearGradient id="a7">
              <stop offset="0" stop-color="#FF46C1" stop-opacity="0"></stop>
              <stop offset="1" stop-color="#FF46C1"></stop>
            </linearGradient>
            <circle
              fill="none"
              stroke="url(#a7)"
              stroke-width="15"
              stroke-linecap="round"
              stroke-dasharray="0 44 0 44 0 44 0 44 0 360"
              cx="100"
              cy="100"
              r="70"
              transform-origin="center"
            >
              <animateTransform
                type="rotate"
                attributeName="transform"
                calcMode="discrete"
                dur="2"
                values="360;324;288;252;216;180;144;108;72;36"
                repeatCount="indefinite"
              ></animateTransform>
            </circle>
          </svg>
        </div>
        <ul id="album-list">
          <li v-for="album in albumData" :key="album.id" :data-id="album.id">
            <a href="#album" @click="getAlbum(album.id)">
              <img :src="`images/${album.image_file}`" :alt="album.title" />
            </a>
            <h3>
              <a href="#album" @click="getAlbum(album.id)">{{ album.title }}</a>
            </h3>
          </li>
        </ul>
      </div>
      <div class="col-span-full" id="album">
        <div v-if="loading">
          <svg
            class="loader"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 200 200"
          >
            <linearGradient id="a7">
              <stop offset="0" stop-color="#FF46C1" stop-opacity="0"></stop>
              <stop offset="1" stop-color="#FF46C1"></stop>
            </linearGradient>
            <circle
              fill="none"
              stroke="url(#a7)"
              stroke-width="15"
              stroke-linecap="round"
              stroke-dasharray="0 44 0 44 0 44 0 44 0 360"
              cx="100"
              cy="100"
              r="70"
              transform-origin="center"
            >
              <animateTransform
                type="rotate"
                attributeName="transform"
                calcMode="discrete"
                dur="2"
                values="360;324;288;252;216;180;144;108;72;36"
                repeatCount="indefinite"
              ></animateTransform>
            </circle>
          </svg>
        </div>
      </div>
      <section v-if="error">{{error}}</section>
      <section id="info-box" class="col-span-full m-col-span-full" v-if="name">
        <div id="album-image"><img :src="`images/${image}`" /></div>

        <div id="album-info">
          <p id="album-name"><span class="title"></span>{{title}}</p>
          <p><span class="title">Singer:</span>{{name}}</p>
          <p><span class="title">Genre:</span>{{genre}}</p>
          <p><span class="title">Release Date:</span>{{release_date}}</p>
          <p><span class="title"></span>{{description}}</p>
        </div>
      </section>
    </div>
  </body>
</html>
