.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-light-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-regular-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-bold-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "Inria Sans", sans-serif;
}

h2 {
  color: #fff;
  margin-top: 5px;
  font-size: 70px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 0px 20px 0 0px;
  font-family: "Inria Sans", sans-serif;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Inria Sans", sans-serif;
}

p {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Inria Sans", sans-serif;
}

#album-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  cursor: grab;
}
#album-list::-webkit-scrollbar {
  height: 8px;
}
#album-list::-webkit-scrollbar-track {
  background: #a8a8a8;
  border-radius: 10px;
}
#album-list::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}
#album-list::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
@media (max-width: 768px) {
  #album-list {
    flex-direction: row;
    justify-content: flex-start;
  }
  #album-list li {
    flex: 0 0 80%;
    max-width: 80%;
  }
}

#album-list li {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  overflow: hidden;
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: 330px;
}
@media (max-width: 768px) {
  #album-list li {
    width: 350px;
    font-size: 16px;
    padding-top: 20px;
  }
  #album-list li #album-list li:hover {
    background-color: #ff7448;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    width: 330px;
  }
}

#album-list li:hover {
  background-color: #ff7448;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

/* Highlight effect for the selected <li> item */
#album-list li.active {
  background-color: #ff7448; /* Highlight color */
  color: white; /* Text color */
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#album-list h3 {
  display: block;
  max-width: 350px;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: center;
}

#album-list li img {
  width: 70%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
@media (min-width: 769px) {
  #album-list li img {
    width: 100%;
  }
}

.loader {
  max-width: 100px;
}

body {
  font-family: "Inria Sans", sans-serif;
  padding: 20px;
  background: linear-gradient(to right, #f6d365, #fda085);
  background-attachment: fixed;
}

#app {
  padding: 20px;
}

#bookInfoCon {
  margin-top: 40px;
}

h3 {
  color: rgb(255, 255, 255);
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 35px;
  text-align: center;
}

#info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  #info-box {
    flex-direction: column;
    height: 800px;
  }
}

#info-box img {
  max-width: 500px;
}
@media (max-width: 768px) {
  #info-box img {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

#info-box p {
  color: #ff7448;
}
@media (max-width: 768px) {
  #info-box p {
    text-align: center;
    margin: 10px 50px;
  }
}

#album-name {
  font-size: 50px;
  color: #ff7448;
}

.title {
  font-weight: bold;
  color: #ff7448;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 500px;
}

#hero-sec p:nth-of-type(1) {
  display: block;
  margin: 0 5px 0 0;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 80px;
}

#hero-sec p:nth-of-type(2) {
  display: block;
  margin: 0 0 0 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
}